.container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-gap: 5px;
    height: 30px;
}

.container svg {
    height: 30px;
    width: 50px;
}

.active {
    background: white;
    border: 3px solid white;
}

.hide {
    display: none;
}