.toggle {
    color: gray;
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: center start;
    cursor: pointer;
}

.toggle:hover {
    color: white;
}

.container svg {
    fill: gray;
}

.toggle:hover svg {
    fill: white;
}