:root {
    --primary-color: #ff9f1c;
    --primary-color-dark: #d18317;
    --dark-background-color: #202124;
    --dark-background-color-darker: #1d1e20;
    --white-background-color: #bebcbc;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background: var(--dark-background-color);
    color: white;
    font-family: sans-serif;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

#root {
    width: 100vw;
}

input {
    background: var(--dark-background-color-darker);
    width: 100%;
    padding: 10px 5px;
    border: 0;
    color: white;
}

.button-wrapper {
    display: grid;
    margin-top: 10px;
}

.button-wrapper.right {
    place-items: end;
}

.button-wrapper button,
.button-wrapper .button {
    display: inline-block;
    background: var(--primary-color);
    border: 0;
    color: white;
    padding: 10px 5px;
    cursor: pointer;
}

.button-wrapper button:hover,
.button-wrapper .button:hover {
    background: var(--primary-color-dark);
}

.button-wrapper button:disabled {
    background: gray;
    cursor: auto;
}

.tooltip {
    font-size: 13px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    left: 50px;

    position: absolute;
    z-index: 1;
}