.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: var(--dark-background-color-darker);
    width: 400px;
    padding: 0 10px;
    height: 100vh;
}

.header h3 {
    font-weight: normal;
}