.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftContainer {
    display: grid;
    place-items: center;
}

.leftContainer h2 {
    font-weight: normal;
    font-size: 35px;
}

.leftContainer h3 {
    font-weight: normal;
}

.mockupImage {
    margin: 75px 0;
    max-width: 100%;
}