.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.leftContainer {
    display: grid;
    place-items: center;
}

.leftContainer h2 {
    font-weight: normal;
    font-size: 35px;
}

.leftContainer h3 {
    font-weight: normal;
}

.joinButtonWrapper {
    display: grid;
    place-items: center;
    margin-top: 35px;
}

.joinButton {
    color: white;
    text-decoration: none;
    background: var(--primary-color);
    border-radius: 5px;
    padding: 12px 70px;
}

.joinButton:hover {
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.4);
}

.mockupImage {
    margin: 75px 0;
    max-width: 100%;
}