* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #3c4042;

    color: white;
    font-family: sans-serif;

    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

#root {
    width: 100vw;
}