.container {
    margin: 50px 0;
    display: grid;
    place-items: center;
}

.inner {
    margin: 0 auto;
    width: 50%;
}

.selectInstructions {
    text-align: center;
}

.player {
    position: relative;
    overflow: hidden;
}

:fullscreen .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}