/* Not full screen: hover */
body:not(.fullscreen):not(.touch-device) .player:hover .controls {
    /* Show controls */
    transform: translateY(0px) !important;
}

/* Full screen: mouse moved recently */
.fullscreen .player.mouse-moved-recently:hover .controls {
    /* Show controls */
    transform: translateY(0px) !important;
}

/* Touch device: mouse moved recently */
.touch-device .player.mouse-moved-recently .controls {
    /* Show controls */
    transform: translateY(0px) !important;
}

/* Video paused/waiting */
.video-not-playing .controls {
    /* Show controls */
    transform: translateY(0px) !important;
}

/* Hover on controls */
.controls:hover {
    /* Show controls */
    transform: translateY(0px) !important;

    cursor: auto !important;
}

.fullscreen .player:not(.mouse-moved-recently):not(.video-not-playing) {
    cursor: none
}