.container {
    background: var(--dark-background-color-darker);
    min-height: 100vh;
    font-size: 13px;
    text-align: center;
}

.heading {
    margin: 0;
    padding: 15px 1px;
    background: #ff9f1c;
    text-align: center;
    font-size: 10px
}

.wrapper {
    display: grid;
    place-items: center;
    height: 60px;
    border-bottom: 0.5px solid gray
}

.connectionIndicator {
    width: 15px;
    height: 15px;
    border-radius: 10px
}

.showButton {
    cursor: pointer
}

.setVideoWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 10px;
    margin-bottom: 10px
}

.waitingForClients {
    color: red;
    text-align: center
}